body {
    background-color: rgb(234, 242, 254);
    display: grid;
    grid-template-areas: 
        "header header . socials socials"
        ". main main main ."
        "footer footer footer footer footer"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    font-family: "SFRounded",ui-rounded,"SF Pro Rounded",system-ui,"Helvetica Neue","Arial","Helvetica",sans-serif;
}



.title-div {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: start;
    padding: 1%;
    grid-area: header;
}

.home-logo {
    transition: all .2s linear;
    cursor: pointer;
}

.home-logo:hover {
    transform: scale(1.2);
}

.title {
    color: rgb(38, 41, 46);
    padding: 1%;
    display: block;
}

.socials-div {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1%;
    grid-area: socials;
}

.social {
    white-space: nowrap;
    padding: 1%;
    text-decoration: none;
    margin: 0 1em;
    padding: 1%;
    font-size: 1.25rem;
    font-weight: bold;
    transition: all .2s linear;
}

.social:hover {
    transform: scale(1.1);
}

main {
    height: 100%;
    grid-area: main;
}

.container {
    padding: 1%;
    margin: 1%;
}


.subtitle {
    color: rgb(38, 41, 46);
}


.inner-div {
    background-color: rgb(222, 230, 242);
    border-radius: .5rem;
    padding: 1%;
}

.canvas-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin: 1%;
}

#canvas {
    display: inline;
    padding: 0;
    margin: 1%;
}

#canvas-util-div {
    background-color: rgb(212, 221, 235);
    padding: 1% 3%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: rgb(142, 148, 161) 0.125em solid;
    border-radius: .25em;
    box-shadow: 0 0 0.25em 0 rgb(142, 148, 161);
}

.mp3-buttons-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: .5rem;
    padding: 1%;
    margin: 1%;
}

.load-button {
    display: block;
    cursor: pointer;
    background-color: rgb(222, 230, 242);
    color: rgb(142, 148, 161);
    padding: .5em;
    border-radius: 0.25em;
    border: currentColor 0.125em solid;
    margin: 0% 5%;
    box-shadow: 0 0 0.5em 0 currentColor;
    transition: all .25s linear;
}

.load-button:hover {
    animation: animate-color 5s linear infinite;
    transform: translateY(-5px);
}

.playpause {
    display: block;
    cursor: pointer;
    border: none;
    background: none;
    padding: 1% 2%;
    margin: 0 2.5%;
    font-size: 1.5rem;
    transition: all .25s linear;
    text-shadow: 0 0 0.1em rgb(128, 156, 186);
    opacity: 1;
}

.playpause:hover {
    transform: scale(1.2);
}

.playpause:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.volume-slider {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0.7;
    background-color: rgb(142, 148, 161);
    height: .5em;
    margin: 0 3%;
    outline: none;
    border-radius: .25em;
    box-shadow: 0 0 0.25em 0 rgb(115, 121, 133);
    -webkit-transition: .25s;
    transition: all .25s linear;
}

.volume-slider:hover {
    opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 0;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: all .25s linear;
}

.volume-slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
    animation: animate-bg-color 5s linear infinite;
}

.volume-slider::-moz-range-thumb {
    width: 1.5em;
    height: 1.5em;
    border: 0;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: all .25s linear;
}

.volume-slider::-moz-range-thumb:hover {
    transform: scale(1.1);
    animation: animate-bg-color 5s linear infinite;
}

#volume-slider-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
}

.footer-div {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 0 0;
}


p, h3, .text, .disclaimer {
    color: rgb(142, 148, 161);
}

canvas {
    border-radius: .5rem;
}

a {
    color: rgb(122, 127, 138);
    transition: all .1s linear;
}

a:hover {
    animation: animate-color 5s linear infinite;
}

@keyframes animate-color {
    0% {
        color: rgb(255, 0, 0)
    }
    25% {
        color: rgb(47, 255, 0)
    }
    50% {
        color: rgb(0, 43, 128)
    }
    75% {
        color: rgb(255, 0, 195)
    }
    100% {
        color: rgb(255, 0, 0)
    }
}

@keyframes animate-bg-color {
    0% {
        background-color: rgb(255, 0, 0)
    }
    25% {
        background-color: rgb(47, 255, 0)
    }
    50% {
        background-color: rgb(0, 43, 128)
    }
    75% {
        background-color: rgb(255, 0, 195)
    }
    100% {
        background-color: rgb(255, 0, 0)
    }
}

@media (max-width: 600px) {
    body {
        grid-template-areas: 
            ". header header header ."
            ". socials socials socials ."
            "main main main main main"
            "footer footer footer footer footer"
        ;
    }

    .title-div {
        flex-direction: column;
        margin-top: 33vh;
        margin-bottom: 50vh;
    }

    .home-logo {
        font-size: 4rem;
        transition: none;
        margin-bottom: 0%;
    }

    .home-logo:hover {
        transform: none;
    }

    .title {
        font-size: 4rem;
        margin-top: 0%
    }

    .socials-div {
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-bottom: 33vh;
    }

    .social {
        font-size: 2rem;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    .social:hover {
        transform: none;
    }

    .subtitle {
        font-size: 10vw;
        margin-bottom: 2%;
    }

    p, h3, .text {
        font-size: 5vw;
        padding-left: 1%;
        padding-right: 1%;
        list-style-position: inside;
    }

    .mp3-buttons-div {
        flex-direction: column;
    }

    .load-button {
        margin: 0% 0%;
        transition: none;
        font-size: 5vw;
    }

    .load-button:hover {
        transform: none;
    }

    .playpause {
        padding: 1% 2%;
        margin: 0 2.5%;
        font-size: 20vw;
        transition: none;
        text-shadow: 0 0 0.1em rgb(128, 156, 186);
        opacity: 1;
    }
    
    .playpause:hover {
        transform: none;
    }

    #volume-emoji {
        display: none;
    }

    .volume-slider {
        display: none;
    }

    .canvas-div {
        margin-top: 5%;
    }

    .disclaimer {
        font-size: 3vw;
    }
}